<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/css/style.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Agregar Todo</title>
    </head>
    <body>
        <h1><a href="/">Todo List</a></h1>
        <h2>Agregar Todo</h2>
        <div class="divAgregarTodo">
            <label for="nombreTarea">Nombre del Todo</label>
            <input type="text" id="nombre" name="nombreTarea">
            <label for="estado">Estado del todo</label>
            <input type="text" name="estado" id="estado">
            <br>
            <br>
            <label for="Informacion">Nombre del Todo</label>
            <textarea name="Informacion" rows="20" cols="30" id="info"></textarea>
            <br>
            <input type="submit" name="enviar" value="Agregar" id="btnAgregarTodo">
        </div>
    <script src="/js/agregarTodo.js"></script>
    </body>
</html>